## Cars Data Analysis

- Here, The data of different cars is given with their specifications.This data is available as a CS file. We are going to analyze this data set using the Pandas DataFrame.

In [50]:
import pandas as pd

- import pandas as pd: Utilized to import the Pandas library, a fundamental tool for data manipulation and analysis in Python.

- pd.read_csv: Employed to read and import CSV files within the Jupyter notebook, enabling seamless access to tabular data.
- shape: Employed to ascertain the dimensions of the dataset, revealing the total number of rows and columns present.
- 
df.isnull().sum(): Applied to identify and quantify missing values within each column of the DataFrame, a crucial step in data preprocessinformation.

- fillna(): Utilized to impute null values within a column by replacing them with specified values, ensuring data completeness and accuracy.
- value_counts: Leveraged to present a count of unique values within a specific column, offering valuable insights into the distribution of categorical data.
- isin(): Applied to filter and display records that match specified elements, aiding in targeted data exploration.
- apply(): Utilized to execute a function along a given axis of the DataFrame, facilitating the application of customized operations for advanced data processing and transformation.

In [51]:
car = pd.read_csv(r"Data/CarsData.csv")

In [52]:
car.head()

,Make,Model,Type,Origin,DriveTrain,MSRP,Invoice,EngineSize,Cylinders,Horsepower,MPG_City,MPG_Highway,Weight,Wheelbase,Length
0,Acura,MDX,SUV,Asia,All,"$36,945","$33,337",3.5,6.0,265.0,17.0,23.0,4451.0,106.0,189.0
1,Acura,RSX Type S 2dr,Sedan,Asia,Front,"$23,820","$21,761",2.0,4.0,200.0,24.0,31.0,2778.0,101.0,172.0
2,Acura,TSX 4dr,Sedan,Asia,Front,"$26,990","$24,647",2.4,4.0,200.0,22.0,29.0,3230.0,105.0,183.0
3,Acura,TL 4dr,Sedan,Asia,Front,"$33,195","$30,299",3.2,6.0,270.0,20.0,28.0,3575.0,108.0,186.0
4,Acura,3.5 RL 4dr,Sedan,Asia,Front,"$43,755","$39,014",3.5,6.0,225.0,18.0,24.0,3880.0,115.0,197.0

In [53]:
car.shape

(432, 15)

## Find Null Values and Fill with Mean:
- Identify any null values present in the dataset across all columns.
- If null values are found in any column, replace them with the mean value of that respective column.

In [54]:
car.isnull().sum()

Make           4
Model          4
Type           4
Origin         4
DriveTrain     4
MSRP           4
Invoice        4
EngineSize     4
Cylinders      6
Horsepower     4
MPG_City       4
MPG_Highway    4
Weight         4
Wheelbase      4
Length         4
dtype: int64

In [55]:
mode = car['Make'].mode()[0]
car['Make'].fillna(mode, inplace= True)

In [56]:
for head in car:
    mode = car[f'{head}'].mode()[0]
    car[f'{head}'].fillna(mode, inplace= True)

Looping through Columns:\
The for head in car: line initiates a loop that iterates through each column (referred to as "head") in the DataFrame "car."

Calculating the Mode:\
For each column, the line mode = car[f'{head}'].mode()[0] calculates the mode (most frequent value) of that column using mode(). The mode is stored in the variable mode.

Filling Missing Values with the Mode:\
The line car[f'{head}'].fillna(mode, inplace=True) fills any missing values in the current column (specified by "head") with the mode calculated earlier. The fillna() function is used to replace the missing values with the calculated mode.

In-Place Modification of the DataFrame:\
The inplace=True argument in fillna() ensures that the changes are made directly to the DataFrame "car" in-place, without creating a new DataFrame.

In [57]:
car.isnull().sum()

Make           0
Model          0
Type           0
Origin         0
DriveTrain     0
MSRP           0
Invoice        0
EngineSize     0
Cylinders      0
Horsepower     0
MPG_City       0
MPG_Highway    0
Weight         0
Wheelbase      0
Length         0
dtype: int64

# Types and Counts of Car Makes:
- Determine the distinct types of car makes available in the dataset.
- Provide the count or occurrence of each unique car make in the dataset.

In [58]:
car.head(2)

,Make,Model,Type,Origin,DriveTrain,MSRP,Invoice,EngineSize,Cylinders,Horsepower,MPG_City,MPG_Highway,Weight,Wheelbase,Length
0,Acura,MDX,SUV,Asia,All,"$36,945","$33,337",3.5,6.0,265.0,17.0,23.0,4451.0,106.0,189.0
1,Acura,RSX Type S 2dr,Sedan,Asia,Front,"$23,820","$21,761",2.0,4.0,200.0,24.0,31.0,2778.0,101.0,172.0

In [59]:
car['Make'].value_counts()

Make
Toyota           32
Chevrolet        27
Mercedes-Benz    26
Ford             23
BMW              20
Audi             19
Nissan           17
Honda            17
Chrysler         15
Volkswagen       15
Mitsubishi       13
Dodge            13
Hyundai          12
Jaguar           12
Volvo            12
Kia              11
Mazda            11
Lexus            11
Pontiac          11
Subaru           11
Lincoln           9
Mercury           9
Buick             9
Saturn            8
Infiniti          8
GMC               8
Cadillac          8
Suzuki            8
Porsche           7
Saab              7
Acura             7
Oldsmobile        3
Jeep              3
Land Rover        3
MINI              2
Scion             2
Isuzu             2
Hummer            1
Name: count, dtype: int64

In [60]:
unique_makes = car['Make'].unique()
for make in unique_makes:
    list = car[car['Make'] == f'{make}']['Model']
    print(make)
    print(list)

Acura
0                        MDX
1             RSX Type S 2dr
2                    TSX 4dr
3                     TL 4dr
4                 3.5 RL 4dr
5    3.5 RL w/Navigation 4dr
6     NSX coupe 2dr manual S
Name: Model, dtype: object
Audi
7                          A4 1.8T 4dr
8               A41.8T convertible 2dr
9                           A4 3.0 4dr
10           A4 3.0 Quattro 4dr manual
11             A4 3.0 Quattro 4dr auto
12                          A6 3.0 4dr
13                  A6 3.0 Quattro 4dr
14              A4 3.0 convertible 2dr
15      A4 3.0 Quattro convertible 2dr
16            A6 2.7 Turbo Quattro 4dr
17                  A6 4.2 Quattro 4dr
18                    A8 L Quattro 4dr
19                      S4 Quattro 4dr
20                            RS 6 4dr
21      TT 1.8 convertible 2dr (coupe)
22    TT 1.8 Quattro 2dr (convertible)
23      TT 3.2 coupe 2dr (convertible)
24                A6 3.0 Avant Quattro
25                    S4 Avant Quattro
Name: Model, dtype: object
BMW
26                    X3 3.0i
27                    X5 4.4i
28                   325i 4dr
29                  325Ci 2dr
31      325Ci convertible 2dr
32                  325xi 4dr
33                   330i 4dr
34                  330Ci 2dr
35                  330xi 4dr
36                   525i 4dr
37      330Ci convertible 2dr
38                   530i 4dr
40                  545iA 4dr
41                   745i 4dr
42                  745Li 4dr
43               M3 coupe 2dr
44         M3 convertible 2dr
45    Z4 convertible 2.5i 2dr
46    Z4 convertible 3.0i 2dr
47                325xi Sport
Name: Model, dtype: object
Toyota
30                       C240 4dr
39                       C240 4dr
161                      C240 4dr
173                      C240 4dr
377      Prius 4dr (gas/electric)
378                   Sequoia SR5
379                4Runner SR5 V6
380                 Highlander V6
381                  Land Cruiser
382                          RAV4
383                Corolla CE 4dr
384                 Corolla S 4dr
385                Corolla LE 4dr
386               Echo 2dr manual
387                 Echo 2dr auto
388                      Echo 4dr
389                  Camry LE 4dr
390               Camry LE V6 4dr
391           Camry Solara SE 2dr
392        Camry Solara SE V6 2dr
393                 Avalon XL 4dr
394              Camry XLE V6 4dr
395       Camry Solara SLE V6 2dr
396                Avalon XLS 4dr
397                     Sienna CE
398            Sienna XLE Limited
399               Celica GT-S 2dr
400    MR2 Spyder convertible 2dr
401                        Tacoma
402         Tundra Regular Cab V6
403      Tundra Access Cab V6 SR5
404                     Matrix XR
Name: Model, dtype: object
Buick
48                  Rainier
49            Rendezvous CX
50       Century Custom 4dr
51       LeSabre Custom 4dr
52             Regal LS 4dr
53             Regal GS 4dr
54      LeSabre Limited 4dr
55          Park Avenue 4dr
56    Park Avenue Ultra 4dr
Name: Model, dtype: object
Cadillac
57               Escalade
58                 SRX V8
59            CTS VVT 4dr
60            Deville 4dr
61        Deville DTS 4dr
62        Seville SLS 4dr
63    XLR convertible 2dr
64           Escalade EXT
Name: Model, dtype: object
Chevrolet
65              Suburban 1500 LT
66                      Tahoe LT
67                TrailBlazer LT
68                       Tracker
69                      Aveo 4dr
70             Aveo LS 4dr hatch
71                  Cavalier 2dr
72                  Cavalier 4dr
73               Cavalier LS 2dr
74                    Impala 4dr
75                    Malibu 4dr
76                 Malibu LS 4dr
77            Monte Carlo LS 2dr
78                 Impala LS 4dr
79                 Impala SS 4dr
80                 Malibu LT 4dr
81            Monte Carlo SS 2dr
82                         Astro
83                    Venture LS
84                  Corvette 2dr
85      Corvette convertible 2dr
86                Avalanche 1500
87                  Colorado Z85
88    Silverado 1500 Regular Cab
89                  Silverado SS
90                           SSR
91                Malibu Maxx LS
Name: Model, dtype: object
Chrysler
92                      PT Cruiser 4dr
93              PT Cruiser Limited 4dr
94                         Sebring 4dr
95                 Sebring Touring 4dr
96                            300M 4dr
97                     Concorde LX 4dr
98                    Concorde LXi 4dr
99                   PT Cruiser GT 4dr
100            Sebring convertible 2dr
101           300M Special Edition 4dr
102    Sebring Limited convertible 2dr
103                Town and Country LX
104           Town and Country Limited
105                      Crossfire 2dr
106                           Pacifica
Name: Model, dtype: object
Dodge
107                     Durango SLT
108                     Neon SE 4dr
109                    Neon SXT 4dr
110                 Intrepid SE 4dr
111                 Stratus SXT 4dr
112                  Stratus SE 4dr
113                 Intrepid ES 4dr
114                      Caravan SE
115               Grand Caravan SXT
116    Viper SRT-10 convertible 2dr
117              Dakota Regular Cab
118                 Dakota Club Cab
119         Ram 1500 Regular Cab ST
Name: Model, dtype: object
Ford
120                          Excursion 6.8 XLT
121                         Expedition 4.6 XLT
122                            Explorer XLT V6
123                                 Escape XLS
124                        Focus ZX3 2dr hatch
125                               Focus LX 4dr
126                               Focus SE 4dr
127                              Focus ZX5 5dr
128                              Focus SVT 2dr
129                              Taurus LX 4dr
130                     Taurus SES Duratec 4dr
131                         Crown Victoria 4dr
132                      Crown Victoria LX 4dr
133                Crown Victoria LX Sport 4dr
134                                Freestar SE
135                  Mustang 2dr (convertible)
136         Mustang GT Premium convertible 2dr
137    Thunderbird Deluxe convert w/hardtop 2d
138                       F-150 Regular Cab XL
139                      F-150 Supercab Lariat
140                  Ranger 2.3 XL Regular Cab
141                                  Focus ZTW
142                                  Taurus SE
Name: Model, dtype: object
GMC
143                Envoy XUV SLE
144               Yukon 1500 SLE
145            Yukon XL 2500 SLT
146                   Safari SLE
147    Canyon Z85 SL Regular Cab
148     Sierra Extended Cab 1500
149               Sierra HD 2500
150              Sonoma Crew Cab
Name: Model, dtype: object
Honda
151    Civic Hybrid 4dr manual (gas/electric)
152                Insight 2dr (gas/electric)
153                                  Pilot LX
154                                   CR-V LX
155                                Element LX
156                              Civic DX 2dr
157                              Civic HX 2dr
158                              Civic LX 4dr
159                             Accord LX 2dr
160                             Accord EX 2dr
162                              Civic EX 4dr
163                        Civic Si 2dr hatch
164                          Accord LX V6 4dr
165                          Accord EX V6 2dr
166                                Odyssey LX
167                                Odyssey EX
168                     S2000 convertible 2dr
Name: Model, dtype: object
Hummer
169    H2
Name: Model, dtype: object
Hyundai
170            Santa Fe GLS
171        Accent 2dr hatch
172           Accent GL 4dr
174     Accent GT 2dr hatch
175         Elantra GLS 4dr
176          Elantra GT 4dr
177    Elantra GT 4dr hatch
178          Sonata GLS 4dr
179           Sonata LX 4dr
180               XG350 4dr
181             XG350 L 4dr
182       Tiburon GT V6 2dr
Name: Model, dtype: object
Infiniti
183                G35 4dr
184    G35 Sport Coupe 2dr
185                G35 4dr
186                I35 4dr
187                M45 4dr
188         Q45 Luxury 4dr
189                   FX35
190                   FX45
Name: Model, dtype: object
Isuzu
191    Ascender S
192       Rodeo S
Name: Model, dtype: object
Jaguar
193         X-Type 2.5 4dr
194         X-Type 3.0 4dr
195         S-Type 3.0 4dr
196         S-Type 4.2 4dr
197           S-Type R 4dr
198        Vanden Plas 4dr
199                XJ8 4dr
200                XJR 4dr
201          XK8 coupe 2dr
202    XK8 convertible 2dr
203          XKR coupe 2dr
204    XKR convertible 2dr
Name: Model, dtype: object
Jeep
205              Grand Cherokee Laredo
206                      Liberty Sport
207    Wrangler Sahara convertible 2dr
Name: Model, dtype: object
Kia
208               Sorento LX
209            Optima LX 4dr
210           Rio 4dr manual
211             Rio 4dr auto
212              Spectra 4dr
213     Spectra GS 4dr hatch
214    Spectra GSX 4dr hatch
215         Optima LX V6 4dr
216               Amanti 4dr
217                Sedona LX
218                Rio Cinco
Name: Model, dtype: object
Land Rover
219    Range Rover HSE
220       Discovery SE
221      Freelander SE
Name: Model, dtype: object
Lexus
222                    GX 470
223                    LX 470
224                    RX 330
225                ES 330 4dr
226         IS 300 4dr manual
227           IS 300 4dr auto
228                GS 300 4dr
229                GS 430 4dr
230                LS 430 4dr
231    SC 430 convertible 2dr
232         IS 300 SportCross
Name: Model, dtype: object
Lincoln
233           Navigator Luxury
234           Aviator Ultimate
235           LS V6 Luxury 4dr
236          LS V6 Premium 4dr
237            LS V8 Sport 4dr
238         LS V8 Ultimate 4dr
239     Town Car Signature 4dr
240      Town Car Ultimate 4dr
241    Town Car Ultimate L 4dr
Name: Model, dtype: object
MINI
242      Cooper
243    Cooper S
Name: Model, dtype: object
Mazda
244                   Tribute DX 2.0
245                     Mazda3 i 4dr
246                     Mazda3 s 4dr
247                     Mazda6 i 4dr
248                           MPV ES
249       MX-5 Miata convertible 2dr
250    MX-5 Miata LS convertible 2dr
251               RX-8 4dr automatic
252                  RX-8 4dr manual
253             B2300 SX Regular Cab
254                B4000 SE Cab Plus
Name: Model, dtype: object
Mercedes-Benz
255                              G500
256                             ML500
257                    C230 Sport 2dr
258                    C320 Sport 2dr
259                          C240 4dr
260                          C240 4dr
261                    C320 Sport 4dr
262                          C320 4dr
263                          C320 4dr
264                       C32 AMG 4dr
265                         CL500 2dr
266                         CL600 2dr
267    CLK320 coupe 2dr (convertible)
268    CLK500 coupe 2dr (convertible)
269                          E320 4dr
270                          E500 4dr
271                          S430 4dr
272                          S500 4dr
273             SL500 convertible 2dr
274                      SL55 AMG 2dr
275             SL600 convertible 2dr
276            SLK230 convertible 2dr
277                     SLK32 AMG 2dr
278                              C240
279                              E320
280                              E500
Name: Model, dtype: object
Mercury
281                      Mountaineer
282                     Sable GS 4dr
283             Grand Marquis GS 4dr
284     Grand Marquis LS Premium 4dr
285             Sable LS Premium 4dr
286    Grand Marquis LS Ultimate 4dr
287                     Marauder 4dr
288                  Monterey Luxury
289                         Sable GS
Name: Model, dtype: object
Mitsubishi
290                         Endeavor XLS
291                          Montero XLS
292                         Outlander LS
293                        Lancer ES 4dr
294                        Lancer LS 4dr
295                   Galant ES 2.4L 4dr
296             Lancer OZ Rally 4dr auto
297                      Diamante LS 4dr
298                       Galant GTS 4dr
299                      Eclipse GTS 2dr
300    Eclipse Spyder GT convertible 2dr
301                 Lancer Evolution 4dr
302                  Lancer Sportback LS
Name: Model, dtype: object
Nissan
303               Pathfinder Armada SE
304                      Pathfinder SE
305                       Xterra XE V6
306                     Sentra 1.8 4dr
307                   Sentra 1.8 S 4dr
308                       Altima S 4dr
309                    Sentra SE-R 4dr
310                      Altima SE 4dr
311                      Maxima SE 4dr
312                      Maxima SL 4dr
313                            Quest S
314                           Quest SE
315                     350Z coupe 2dr
316    350Z Enthusiast convertible 2dr
317            Frontier King Cab XE V6
318                  Titan King Cab XE
319                          Murano SL
Name: Model, dtype: object
Oldsmobile
320     Alero GX 2dr
321    Alero GLS 2dr
322    Silhouette GL
Name: Model, dtype: object
Pontiac
323                Aztekt
324       Sunfire 1SA 2dr
325       Grand Am GT 2dr
326    Grand Prix GT1 4dr
327       Sunfire 1SC 2dr
328    Grand Prix GT2 4dr
329    Bonneville GXP 4dr
330               Montana
331           Montana EWB
332               GTO 2dr
333                  Vibe
Name: Model, dtype: object
Porsche
334                              Cayenne S
335    911 Carrera convertible 2dr (coupe)
336     911 Carrera 4S coupe 2dr (convert)
337                    911 Targa coupe 2dr
338                            911 GT2 2dr
339                Boxster convertible 2dr
340              Boxster S convertible 2dr
Name: Model, dtype: object
Saab
341           9-3 Arc Sport 4dr
342                9-3 Aero 4dr
343                 9-5 Arc 4dr
344                9-5 Aero 4dr
345     9-3 Arc convertible 2dr
346    9-3 Aero convertible 2dr
347                    9-5 Aero
Name: Model, dtype: object
Saturn
348                    VUE
349               Ion1 4dr
350               lon2 4dr
351               lon3 4dr
352    lon2 quad coupe 2dr
353    lon3 quad coupe 2dr
354             L300-2 4dr
355                 L300 2
Name: Model, dtype: object
Scion
356    xA 4dr hatch
357              xB
Name: Model, dtype: object
Subaru
358           Impreza 2.5 RS 4dr
359                 Legacy L 4dr
360                Legacy GT 4dr
361    Outback Limited Sedan 4dr
362               Outback H6 4dr
363          Outback H-6 VDC 4dr
364              Impreza WRX 4dr
365          Impreza WRX STi 4dr
366                         Baja
367                   Forester X
368                      Outback
Name: Model, dtype: object
Suzuki
369           XL-7 EX
370         Vitara LX
371        Aeno S 4dr
372      Aerio LX 4dr
373     Forenza S 4dr
374    Forenza EX 4dr
375     Verona LX 4dr
376          Aerio SX
Name: Model, dtype: object
Volkswagen
405                        Touareg V6
406                      Golf GLS 4dr
407                GTI 1.8T 2dr hatch
408                 Jetta GLS TDI 4dr
409           New Beetle GLS 1.8T 2dr
410                 Jetta GLI VR6 4dr
411    New Beetle GLS convertible 2dr
412                    Passat GLS 4dr
413         Passat GLX V6 4MOTION 4dr
414             Passat W8 4MOTION 4dr
415                       Phaeton 4dr
416                   Phaeton W12 4dr
417                          Jetta GL
418                   Passat GLS 1.8T
419                         Passat W8
Name: Model, dtype: object
Volvo
420                    XC90 T6
421                    S40 4dr
422                S60 2.5 4dr
423                 S60 T5 4dr
424                  S60 R 4dr
425                S80 2.9 4dr
426               S80 2.5T 4dr
427    C70 LPT convertible 2dr
428    C70 HPT convertible 2dr
429                 S80 T6 4dr
430                        V40
431                       XC70
Name: Model, dtype: object

unique_makes = car['Make'].unique():
This line retrieves all the unique values (unique car makes) from the "Make" column in the DataFrame "car" and stores them in the variable unique_makes. It ensures that each make is included only once in the list of unique makes.

for make in unique_makes::
This initiates a loop that iterates through each unique make in the unique_makes list, allowing us to perform actions for each unique make.

list = car[car['Make'] == f'{make}']['Model']:
Inside the loop, for each unique make, this line filters the DataFrame "car" based on the current make in the loop (make). It selects only the rows where the "Make" matches the current unique make, and then it selects the "Model" column for those rows. The result is a list of models corresponding to the current make.

print(make):
This line prints the current unique make being processed in the loop.

print(list):
This line prints the list of models associated with the current unique make being processed in the loop.

# Filtering by Origin:
- Display all records where the origin of the car is either from Asia or Europe.

In [61]:
car.head(1)

,Make,Model,Type,Origin,DriveTrain,MSRP,Invoice,EngineSize,Cylinders,Horsepower,MPG_City,MPG_Highway,Weight,Wheelbase,Length
0,Acura,MDX,SUV,Asia,All,"$36,945","$33,337",3.5,6.0,265.0,17.0,23.0,4451.0,106.0,189.0

In [62]:
car[(car['Origin'] == 'Asia') | (car['Origin'] == 'Europe')]

,Make,Model,Type,Origin,DriveTrain,MSRP,Invoice,EngineSize,Cylinders,Horsepower,MPG_City,MPG_Highway,Weight,Wheelbase,Length
0,Acura,MDX,SUV,Asia,All,"$36,945","$33,337",3.5,6.0,265.0,17.0,23.0,4451.0,106.0,189.0
1,Acura,RSX Type S 2dr,Sedan,Asia,Front,"$23,820","$21,761",2.0,4.0,200.0,24.0,31.0,2778.0,101.0,172.0
2,Acura,TSX 4dr,Sedan,Asia,Front,"$26,990","$24,647",2.4,4.0,200.0,22.0,29.0,3230.0,105.0,183.0
3,Acura,TL 4dr,Sedan,Asia,Front,"$33,195","$30,299",3.2,6.0,270.0,20.0,28.0,3575.0,108.0,186.0
4,Acura,3.5 RL 4dr,Sedan,Asia,Front,"$43,755","$39,014",3.5,6.0,225.0,18.0,24.0,3880.0,115.0,197.0
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
427,Volvo,C70 LPT convertible 2dr,Sedan,Europe,Front,"$40,565","$38,203",2.4,5.0,197.0,21.0,28.0,3450.0,105.0,186.0
428,Volvo,C70 HPT convertible 2dr,Sedan,Europe,Front,"$42,565","$40,083",2.3,5.0,242.0,20.0,26.0,3450.0,105.0,186.0
429,Volvo,S80 T6 4dr,Sedan,Europe,Front,"$45,210","$42,573",2.9,6.0,268.0,19.0,26.0,3653.0,110.0,190.0
430,Volvo,V40,Wagon,Europe,Front,"$26,135","$24,641",1.9,4.0,170.0,22.0,29.0,2822.0,101.0,180.0
431,Volvo,XC70,Wagon,Europe,All,"$35,145","$33,112",2.5,5.0,208.0,20.0,27.0,3823.0,109.0,186.0

In [63]:
car[(car['Origin'] == 'Asia') | (car['Origin'] == 'Europe')]['Make'].unique()

array(['Acura', 'Audi', 'BMW', 'Toyota', 'Honda', 'Hyundai', 'Infiniti',
       'Isuzu', 'Jaguar', 'Kia', 'Land Rover', 'Lexus', 'MINI', 'Mazda',
       'Mercedes-Benz', 'Mitsubishi', 'Nissan', 'Porsche', 'Saab',
       'Scion', 'Subaru', 'Suzuki', 'Volkswagen', 'Volvo'], dtype=object)

In [64]:
car[car['Origin'].isin(['Asia', 'Europe'])]

,Make,Model,Type,Origin,DriveTrain,MSRP,Invoice,EngineSize,Cylinders,Horsepower,MPG_City,MPG_Highway,Weight,Wheelbase,Length
0,Acura,MDX,SUV,Asia,All,"$36,945","$33,337",3.5,6.0,265.0,17.0,23.0,4451.0,106.0,189.0
1,Acura,RSX Type S 2dr,Sedan,Asia,Front,"$23,820","$21,761",2.0,4.0,200.0,24.0,31.0,2778.0,101.0,172.0
2,Acura,TSX 4dr,Sedan,Asia,Front,"$26,990","$24,647",2.4,4.0,200.0,22.0,29.0,3230.0,105.0,183.0
3,Acura,TL 4dr,Sedan,Asia,Front,"$33,195","$30,299",3.2,6.0,270.0,20.0,28.0,3575.0,108.0,186.0
4,Acura,3.5 RL 4dr,Sedan,Asia,Front,"$43,755","$39,014",3.5,6.0,225.0,18.0,24.0,3880.0,115.0,197.0
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
427,Volvo,C70 LPT convertible 2dr,Sedan,Europe,Front,"$40,565","$38,203",2.4,5.0,197.0,21.0,28.0,3450.0,105.0,186.0
428,Volvo,C70 HPT convertible 2dr,Sedan,Europe,Front,"$42,565","$40,083",2.3,5.0,242.0,20.0,26.0,3450.0,105.0,186.0
429,Volvo,S80 T6 4dr,Sedan,Europe,Front,"$45,210","$42,573",2.9,6.0,268.0,19.0,26.0,3653.0,110.0,190.0
430,Volvo,V40,Wagon,Europe,Front,"$26,135","$24,641",1.9,4.0,170.0,22.0,29.0,2822.0,101.0,180.0
431,Volvo,XC70,Wagon,Europe,All,"$35,145","$33,112",2.5,5.0,208.0,20.0,27.0,3823.0,109.0,186.0

# Removing Unwanted Records (Weight above 4000):
Eliminate all records (rows) where the weight of the car exceeds 4000.

In [65]:
car[car['Weight'] < 4000]

,Make,Model,Type,Origin,DriveTrain,MSRP,Invoice,EngineSize,Cylinders,Horsepower,MPG_City,MPG_Highway,Weight,Wheelbase,Length
1,Acura,RSX Type S 2dr,Sedan,Asia,Front,"$23,820","$21,761",2.0,4.0,200.0,24.0,31.0,2778.0,101.0,172.0
2,Acura,TSX 4dr,Sedan,Asia,Front,"$26,990","$24,647",2.4,4.0,200.0,22.0,29.0,3230.0,105.0,183.0
3,Acura,TL 4dr,Sedan,Asia,Front,"$33,195","$30,299",3.2,6.0,270.0,20.0,28.0,3575.0,108.0,186.0
4,Acura,3.5 RL 4dr,Sedan,Asia,Front,"$43,755","$39,014",3.5,6.0,225.0,18.0,24.0,3880.0,115.0,197.0
5,Acura,3.5 RL w/Navigation 4dr,Sedan,Asia,Front,"$46,100","$41,100",3.5,6.0,225.0,18.0,24.0,3893.0,115.0,197.0
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
427,Volvo,C70 LPT convertible 2dr,Sedan,Europe,Front,"$40,565","$38,203",2.4,5.0,197.0,21.0,28.0,3450.0,105.0,186.0
428,Volvo,C70 HPT convertible 2dr,Sedan,Europe,Front,"$42,565","$40,083",2.3,5.0,242.0,20.0,26.0,3450.0,105.0,186.0
429,Volvo,S80 T6 4dr,Sedan,Europe,Front,"$45,210","$42,573",2.9,6.0,268.0,19.0,26.0,3653.0,110.0,190.0
430,Volvo,V40,Wagon,Europe,Front,"$26,135","$24,641",1.9,4.0,170.0,22.0,29.0,2822.0,101.0,180.0
431,Volvo,XC70,Wagon,Europe,All,"$35,145","$33,112",2.5,5.0,208.0,20.0,27.0,3823.0,109.0,186.0

In [66]:
car[car['Weight'] > 4000]

,Make,Model,Type,Origin,DriveTrain,MSRP,Invoice,EngineSize,Cylinders,Horsepower,MPG_City,MPG_Highway,Weight,Wheelbase,Length
0,Acura,MDX,SUV,Asia,All,"$36,945","$33,337",3.5,6.0,265.0,17.0,23.0,4451.0,106.0,189.0
15,Audi,A4 3.0 Quattro convertible 2dr,Sedan,Europe,All,"$44,240","$40,075",3.0,6.0,220.0,18.0,25.0,4013.0,105.0,180.0
17,Audi,A6 4.2 Quattro 4dr,Sedan,Europe,All,"$49,690","$44,936",4.2,8.0,300.0,17.0,24.0,4024.0,109.0,193.0
18,Audi,A8 L Quattro 4dr,Sedan,Europe,All,"$69,190","$64,740",4.2,8.0,330.0,17.0,24.0,4399.0,121.0,204.0
20,Audi,RS 6 4dr,Sports,Europe,Front,"$84,600","$76,417",4.2,8.0,450.0,15.0,22.0,4024.0,109.0,191.0
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
405,Volkswagen,Touareg V6,SUV,Europe,All,"$35,515","$32,243",3.2,6.0,220.0,15.0,20.0,5086.0,112.0,187.0
415,Volkswagen,Phaeton 4dr,Sedan,Europe,Front,"$65,000","$59,912",4.2,8.0,335.0,16.0,22.0,5194.0,118.0,204.0
416,Volkswagen,Phaeton W12 4dr,Sedan,Europe,Front,"$75,000","$69,130",6.0,12.0,420.0,12.0,19.0,5399.0,118.0,204.0
419,Volkswagen,Passat W8,Wagon,Europe,Front,"$40,235","$36,956",4.0,8.0,270.0,18.0,25.0,4067.0,106.0,184.0
420,Volvo,XC90 T6,SUV,Europe,All,"$41,250","$38,851",2.9,6.0,268.0,15.0,20.0,4638.0,113.0,189.0

In [67]:
car[~(car['Weight'] > 4000)]

,Make,Model,Type,Origin,DriveTrain,MSRP,Invoice,EngineSize,Cylinders,Horsepower,MPG_City,MPG_Highway,Weight,Wheelbase,Length
1,Acura,RSX Type S 2dr,Sedan,Asia,Front,"$23,820","$21,761",2.0,4.0,200.0,24.0,31.0,2778.0,101.0,172.0
2,Acura,TSX 4dr,Sedan,Asia,Front,"$26,990","$24,647",2.4,4.0,200.0,22.0,29.0,3230.0,105.0,183.0
3,Acura,TL 4dr,Sedan,Asia,Front,"$33,195","$30,299",3.2,6.0,270.0,20.0,28.0,3575.0,108.0,186.0
4,Acura,3.5 RL 4dr,Sedan,Asia,Front,"$43,755","$39,014",3.5,6.0,225.0,18.0,24.0,3880.0,115.0,197.0
5,Acura,3.5 RL w/Navigation 4dr,Sedan,Asia,Front,"$46,100","$41,100",3.5,6.0,225.0,18.0,24.0,3893.0,115.0,197.0
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
427,Volvo,C70 LPT convertible 2dr,Sedan,Europe,Front,"$40,565","$38,203",2.4,5.0,197.0,21.0,28.0,3450.0,105.0,186.0
428,Volvo,C70 HPT convertible 2dr,Sedan,Europe,Front,"$42,565","$40,083",2.3,5.0,242.0,20.0,26.0,3450.0,105.0,186.0
429,Volvo,S80 T6 4dr,Sedan,Europe,Front,"$45,210","$42,573",2.9,6.0,268.0,19.0,26.0,3653.0,110.0,190.0
430,Volvo,V40,Wagon,Europe,Front,"$26,135","$24,641",1.9,4.0,170.0,22.0,29.0,2822.0,101.0,180.0
431,Volvo,XC70,Wagon,Europe,All,"$35,145","$33,112",2.5,5.0,208.0,20.0,27.0,3823.0,109.0,186.0

car['Weight'] > 4000:
This part of the expression creates a boolean mask, where for each row, it checks if the 'Weight' is greater than 4000. This results in a series of True and False values, indicating whether the weight for each row is greater than 4000.

~ (tilde):
The ~ operator is a bitwise negation operator. When applied to a boolean series, it negates each element. In this case, it flips True to False and vice versa.

car[~(car['Weight'] > 4000)]:
This part of the expression applies the negation ~ to the boolean mask we created earlier. It filters the DataFrame car to include only the rows where the 'Weight' is not greater than 4000.

# Applying Function on 'MPG_City' Column:
- Increase all the values within the 'MPG_City' column by 3.

In [68]:
car.head(2)

,Make,Model,Type,Origin,DriveTrain,MSRP,Invoice,EngineSize,Cylinders,Horsepower,MPG_City,MPG_Highway,Weight,Wheelbase,Length
0,Acura,MDX,SUV,Asia,All,"$36,945","$33,337",3.5,6.0,265.0,17.0,23.0,4451.0,106.0,189.0
1,Acura,RSX Type S 2dr,Sedan,Asia,Front,"$23,820","$21,761",2.0,4.0,200.0,24.0,31.0,2778.0,101.0,172.0

In [71]:
car['MPG_City'] = car['MPG_City'].apply(lambda x:x+3)

lambda x: x + 3:
This is a lambda function that takes a value x (each element in the 'MPG_City' column) and adds 3 to it.

car['MPG_City'].apply(...):
The apply function in Pandas is used to apply a function along a particular axis of the DataFrame. In this case, it applies the lambda function to each element in the 'MPG_City' column.

car['MPG_City'] = ...:
Assigns the modified values back to the 'MPG_City' column, effectively updating each value in that column by adding 3.

In [72]:
car.head(3)

,Make,Model,Type,Origin,DriveTrain,MSRP,Invoice,EngineSize,Cylinders,Horsepower,MPG_City,MPG_Highway,Weight,Wheelbase,Length
0,Acura,MDX,SUV,Asia,All,"$36,945","$33,337",3.5,6.0,265.0,20.0,23.0,4451.0,106.0,189.0
1,Acura,RSX Type S 2dr,Sedan,Asia,Front,"$23,820","$21,761",2.0,4.0,200.0,27.0,31.0,2778.0,101.0,172.0
2,Acura,TSX 4dr,Sedan,Asia,Front,"$26,990","$24,647",2.4,4.0,200.0,25.0,29.0,3230.0,105.0,183.0